 <div class="item">
            <div>Avatar URL</div>
                <div>
                    <input 
                    type="url" 
                    name="avatar_url"
                    placeholder="http://" 
                    value="{{student.avatar_url}}"
                    >
                </div>
            </div>

        <div class="item">
            <div>Nome completo</div>
                <div>
                    <input
                     type="text" 
                     name="name"
                     value="{{student.name}}"
                     > 
                </div>
        </div>

        <div class="item">
            <div>Data de Nascimento</div>
                <div>
                    <input
                     type="date" 
                     name="birth"
                     value="{{student.birth}}"
                     > 
                </div>
        </div>

        <div class="item">
            <div>E-mail</div>
                <div>
                    <input
                     type="email" 
                     name="email"
                     value="{{student.email}}"
                     > 
                </div>
        </div>

        <div class="item">
            <div>Ano escolar</div>
                <div>
                    <select name="school_year">

                        <option 
                            value="5º Ensino Fundamental" 
                            {% if teacher.formation == '5º Ensino Fundamental' %} 
                                selected="selected"
                            {% endif %}> 5º Ensino Fundamental
                        </option>

                        <option 
                            value="6º Ensino Fundamental" 
                            {% if teacher.formation == '6º Ensino Fundamental' %} 
                                selected="selected"
                            {% endif %}> 6º Ensino Fundamental
                        </option>

                        <option 
                            value="7º Ensino Fundamental" 
                            {% if teacher.formation == '7º Ensino Fundamental' %} 
                                selected="selected"
                            {% endif %}> 7º Ensino Fundamental
                        </option>

                        <option 
                            value="8º Ensino Fundamental" 
                            {% if teacher.formation == '8º Ensino Fundamental' %} 
                                selected="selected"
                            {% endif %}> 8º Ensino Fundamental
                        </option>

                        <option 
                            value="9º Ensino Fundamental" 
                            {% if teacher.formation == '9º Ensino Fundamental' %} 
                                selected="selected"
                            {% endif %}> 9º Ensino Fundamental
                        </option>

                        <option 
                            value="1º Ensino Médio" 
                            {% if teacher.formation == '1º Ensino Médio' %} 
                                selected="selected"
                            {% endif %}> 1º Ensino Médio
                        </option>

                        <option 
                            value="2º Ensino Médio" 
                            {% if teacher.formation == '2º Ensino Médio' %} 
                                selected="selected"
                            {% endif %} >2º Ensino Médio
                        </option>

                        <option 
                            value="3º Ensino Médio" 
                            {% if teacher.formation == '3º Ensino Médio' %} 
                                selected="selected"
                            {% endif %} >3º Ensino Médio
                        </option>
                </select>

        <div class="item">
            <div>Carga Horária</div>
                <div>
                    <input
                     type="number" 
                     name="workload"
                     placeholder="Quantidade de horas/aula por semana"
                     value="{{student.workload}}"
                     > 
                </div>
        </div>

              <div class="item">
            <div>Professor</div>
                <div>
                    <select name="teacher">
                        {% for teacher in teacherOptions %}
                            <option 
                                value="{{teacher.id}}" 
                                {% if student.instructor_id == instructor.id %} selected {% endif %}> 
                                    {{teacher.name}}
                            </option>
                        {% endfor%}

                </select>

        <button type="submit">Salvar</button>
